.navbar {
  position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
  background-color: #6a0dad; 
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;

}

.navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-left: 650px;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-resume-button {
  background-color: #6a0dad; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-resume-button:hover {
  background-color: #5a0c9e; 
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: calc(100% - 22px);

}
.create {
margin-top: 15px;
background-color: rgba(1, 194, 1, 0.988);


}
.close {
  background-color: red;
  margin-left: 150px;
  
}

.create-resume-button {
  background-color: #6a5acd; /* Фиолетовый цвет */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.create-resume-button:hover {
  background-color: #483d8b; /* Темнее при наведении */
}

.resume-list {
  margin-top: 50px;
  

 
}

.dannie{
margin-left: -400px;
margin-top: -250px;
display: block;
grid-template-columns: repeat(1, 1fr);
font-family: Arial, Helvetica, sans-serif;
background-color: #6a0dad; /* Фиолетовый цвет фона */
color: white; /* Цвет текста */
padding: 10px;
border-radius: 10px; /* Закругленные углы */
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для глубины */
text-align: center;

}







