.navbar {
  position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
  background-color: #6a0dad; 
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;

}

.navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-left: 650px;
}

.register-button {
  background-color: white; 
  color: #6a0dad;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.register-button:hover {
  background-color: #f0f0f0; 
}

.container {
  border: 2px solid #6e00a1; 
  padding: 50px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 700px;
    height: 300px;
    margin-left: 650px;
    margin-top: 150px;
}

.inner-box {
  background-color: #ffffff; 
  border: 1px solid #ced4da; 
  padding: 10px; 
  margin: 5px 0; 
  width: 200px;
  height: 600px; 
  text-align: center;
  margin-right: 500px; 
}
.inner-box2 {
  background-color: #ffffff; 
  border: 1px solid #ced4da; 
  padding: 10px; 
  margin: 5px 0; 
  width: 400px;
  height: 600px; 
  text-align: center;
  margin-left: 200px;
  margin-top: -200PX;
}

.view-button {
  margin-top: 10px; 
  padding: 10px 20px; 
  background-color: #6000b9; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.view-button:hover {
  background-color: #6c0093; 
}

.btn-1{
    background-color: white; 
    color: black; 
    border: 3px solid purple; 
    padding: 15px 30px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; 
    transform: translateY(-380px);
    margin-left: 150px;
}

.btn-1:hover {
    background-color: purple; 
    color: white; 
}

.dropdown {
  position: relative; 
}

.btn-2 {
  background-color: white; 
  color: black; 
  border: 3px solid purple; 
  padding: 15px 35px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;  
  transform: translateY(-330px);
  margin-left: 150px;
}

.dropdown-content {
  display: block; /* Ensure dropdown is displayed */
  position: absolute; /* Positioning it absolutely */
  margin-top: -328px;; /* Aligns the dropdown just below the button */
  left: 150px; /* Aligns it with the left edge of the button */
  background-color: white; /* Background color of dropdown */
  border: 1px solid #ccc; /* Border around dropdown */
  box-shadow: 0 2px 5px rgba(131, 0, 122, 0.15); /* Optional shadow for depth */
  z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown-content a {
  display: block; /* Each link takes up full width */
  padding: 8px 12px; /* Padding for links */
  font-size: 12px; /* Smaller font size for links */
  color: #8b00ab; /* Text color */
  text-decoration: none; /* Remove underline from links */
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Background on hover effect */
}






